body {
	background-image: url("rainbow.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	
}

body h1 {
	border-style: solid;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	max-width: 50%;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: purple;
	border-color: red blue pink green;

}

body h2 {
	text-shadow: 2px 2px pink

	}

#fancy {
	text-shadow: 2px 2px pink;
	font-style: italic;
}

.container {
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}

body h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
	font-stretch: expanded;

}

form {
	max-width: 50%;
	margin-left: 20px;
	border-color: orange yellow;
	border: none;
}

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }​


@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}